{{> calendar/index }}

<div class="container search-bar mt-5 ">
  <div class="categoryOption mb-5 mx-auto" style="display: block; width: 640px;">
    {{>message}}
    <form action="/records" method="GET">
      <select class="form-control" name="sort" id="sort" onchange="this.form.submit()">
        <option value='' {{#ifCond sort ''}}selected{{/ifCond}}>類別...</option>
        {{#each categories}}
          <option value={{this.name}} {{#ifCond ../sort this.name}} selected {{/ifCond}}> {{this.name_cn}}</option>
        {{/each}}
      </select>
    </form>
  </div>
</div>
<div class="container totalAmount my-5">
  <div class="row">
    <div class="col-6 mx-auto d-flex justify-content-center">
      總金額:
      <h1>{{{totalCount}}}</h1>
    </div>
  </div>
</div>

<div class="container recordList mt-5">
  <div class="row body">
    <div class="col-8 mx-auto">
      {{#each records}}
      <div class="d-flex align-items-center text-center border-bottom border-info">
        <div class="col-2">
          <i class='{{this.icon}}'></i>
        </div>
        <div class="col-4 flex-column text-left">
          <h4>{{this.name}}</h4>
          {{this.date}}
        </div>
        <div class="col-2">{{this.count}}</div>
        <div class="col-2">
          <a href="/records/{{this._id}}/edit">
            <button class="btn btn-primary">修改</button>
          </a>
        </div>
        <form action="/records/{{this._id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">刪除</button>
        </form>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="footer">
    <div class="createBtn text-center mt-5">
      <a href='/records/create?date={{date}}'>
        <button class="btn btn-info">新增支出</button>
      </a>
    </div>
  </div>
</div>